<div class="row my-4">
  <div class="col-md-5 mx-auto">
    <div>
        <div class="alert alert-success mt-3" *ngIf="serverMessage">{{ serverMessage }}</div>
        <div class="alert alert-danger mt-3" *ngIf="serverError">{{ serverError }}</div>
      </div>
    <div class="card">
      <div class="card-header text-center">
        <h4 class="card-title">Create your account</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-floating mb-3">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              id="floatingPassword2"
              placeholder="Password"
            />
            <div
              class="text-danger small"
              *ngIf="form.errors?.['passwordMismatch'] && f.confirmPassword.touched"
            >
              Passwords do not match.
            </div>
            <label for="floatingPassword2">Confirm Password</label>
          </div>

          <div class="row">
            <div class="col">
              <div class="btn btn-outline-secondary w-100" routerLink="/auth/login">Login</div>
            </div>
            <div class="col">
              <button class="btn btn-primary w-100" type="submit" [disabled]="loading || form.invalid">
            {{ loading ? 'Registering…' : 'Register' }}
          </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
