<div class="row my-4">
  <div class="col-md-5 mx-auto">
    <div class="card shadow">
      <div class="card-header p-3 bg-primary text-light">
        <h4 class="card-title text-center">Add Tenant</h4>
      </div>
      <div class="card-body pb-4">
        @if (error()) {
        <div class="alert alert-danger" role="alert">
          {{ error() }}
        </div>
        }

        <form class="form" [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              formControlName="name"
              [class.is-invalid]="
                tenantForm.get('name')?.invalid && tenantForm.get('name')?.touched
              "
            />
            <label>Name</label>
            @if (tenantForm.get('name')?.invalid && tenantForm.get('name')?.touched) {
            <div class="invalid-feedback">Tenant name is required</div>
            }
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Phone"
              formControlName="phone"
              [class.is-invalid]="
                tenantForm.get('phone')?.invalid && tenantForm.get('phone')?.touched
              "
            />
            <label>Phone</label>
            @if (tenantForm.get('phone')?.invalid && tenantForm.get('phone')?.touched) {
            <div class="invalid-feedback">Phone number is required</div>
            }
          </div>
          <div class="form-floating mb-4">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
              [class.is-invalid]="
                tenantForm.get('email')?.invalid && tenantForm.get('email')?.touched
              "
            />
            <label>Email</label>
            @if (tenantForm.get('email')?.invalid && tenantForm.get('email')?.touched) {
            <div class="invalid-feedback">Email is required</div>
            }
          </div>
          <div class="row">
            <div class="col-md">
              <button
                type="button"
                class="btn btn-outline-primary w-100 btn-lg"
                (click)="cancel()"
                [disabled]="loading()"
              >
                Go Back
              </button>
            </div>
            <div class="col-md">
              <button type="submit" class="btn btn-primary w-100 btn-lg">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
